.icon {
    max-width: 3rem;
    border-radius: 0.5rem;
}

.flechita {
    border-radius: 0.5rem;
    max-width: 4rem;

}

.iconobar {
    max-width: 3rem;
    
}

.iconoalerta {
    width: 60%;
    height: 5rem;
}