/*nav*/
header {
    background-color: black;

    nav {
        div img {
            width: 10rem;
            margin-left: 4rem;
        }

        ul {
            margin-left: 4em;

            li {
                font-size: 2.5rem;
            }
        }

    }
}

@media (max-width: 991px) {
    #menu {
        height: 100vh;
    }
}

/*footer*/

/*aca hice la implementacion de grids, para que quedaran alineados como queria
los iconos de subir con los vinculos de las redes y "derechos"
ademas los pude alinear combinandolo con flexbox
creo que el footer me ayudo a entender lo genial de combinar ambas tecnologias
se que es una "pavada" pero lo puedo llevar a otros items en proyectos futuros
*/

footer {
    background-color: rgb(127, 118, 105);
    margin-top: 2em;
    width: 100%;
    font-size: 1.5rem;
}

.gridfoot {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}



.redes {
    grid-column-start: 1;
    display: flex;
    align-items: flex-end;
    padding-left: 2rem;
}



.derechos {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5em;

}



.subir {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: right;
    padding-right: 0.5em;
    padding-top: 0.5em;
}



#pie a {
    text-decoration: none;
    color: black;
}

@media (max-width: 991px) {
    .gridfoot {
        display: grid;
        grid-template-columns: auto;
        gap: 1em;        
    }
   

    .redes {
        box-sizing: border-box;
        grid-column-start: 1;
        display: flex;
        justify-content: center;
        
    }

    .subir {
        grid-column-start: 1;        
        padding-right: 0.5em;
        padding-top: 0.5em;
    }

    .derechos {
        grid-column-start: 1;
        grid-row-start: 5;
        display: flex;
        justify-content: center;
        padding-right: 0;
        
    }
}