/*nav*/
header {
    background-color: black;

    nav {
        div img {
            width: 10rem;
            margin-left: 4rem;
        }

        ul {
            margin-left: 4em;

            li {
                font-size: 2.5rem;
            }
        }

    }
}
/*lo estuve probando en el telefono y la verdad
que el nav quedaba gigante asi que decidi poner a 
la mitad el img para mobile*/
@media (max-width: 991px) {
    /*despliegue del menu a pantalla completa*/
    #menu {
        height: 100vh;
    }
   header nav div img {
        width: 5rem;
        margin-left: 4rem;
    }
}
/*footer*/

footer {
    background-color: rgb(127, 118, 105);
    margin-top: 2em;
    font-size: 1.5rem;
}

.gridfoot {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;

    a {
        text-decoration: none;
        color: black;
    }

    .redes {
        grid-column-start: 1;
        display: flex;
        align-items: flex-end;
        padding-left: 2rem;
    }

    .derechos {
        grid-column-start: 2;
        grid-row-start: 3;
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5em;

    }

    .subir {
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        justify-content: right;
        padding-right: 0.5em;
        padding-top: 0.5em;
    }
}





/*Intente literalmente 1000 maneras de alinear las redes
para que el contenido no centrara a mitad de palabra
sino que arranque desde la primer letra, pero no
lo pude lograr
*/


@media (max-width: 991px) {

    .gridfoot {
        display: grid;
        grid-template-columns: auto;
        gap: 1em;
   

    .redes {
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;        
    }

    .subir {
        grid-column-start: 1;
        padding-right: 0.5em;
        padding-top: 0.5em;
    }

    .derechos {
        grid-column-start: 1;
        padding-right: 0;
        grid-row-start: 5;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

    }
}
}