$fuentehelv : 'helvetica';

html {
    font-size: 62.5%;
}

@import 'imports/iconos';
@import 'imports/gridspaginas';
@import 'imports/imagenes';
@import 'imports/mixins';
@import 'imports/layout';
@import 'imports/barrainteraccion';
@import 'imports/barravademecum';
@import 'imports/keyframes';

/*El normalizer esta incluido en el css de boostrap*/



/* esto lo use para que el menu se despliegue completamente
vi que se puede obtener el mismo resultado modificando el js de bootsrap
pero no quise modificarlo sin entender que estoy haciendo */



#activo {
    color: rgb(12, 213, 32);
    border-bottom: red;
    border-bottom-width: 0.3rem;
    border-bottom-style: solid;
}

/*body*/

section {

    padding-top: 14em;

    a {
        text-decoration: none;
        font-size: 1.8rem;
        line-height: 2rem;
        color: blue;
    }


    h1 {
        text-align: center;
        font-size: 3.6rem;
        color: red;
        font-family: "roboto";
    }

    article {
        display: grid;
        
        .sinindentado {
            text-indent: 0;
        }
        iframe {
            display: block;
            border: none;
            width: 90%;
            padding-left: 10%;
            padding-top: 4rem;
            height: 36rem;
        }

        p {
            font-size: 1.8rem;
            text-align: justify;
            font-family: $fuentehelv;
            padding: 0.5em;
            padding-left: 1em;
            text-indent: 1.5em;
            line-height: 1.4em;

            
        }

        h3 {
            font-family: Verdana;
            font-size: 2rem;
            padding-left: 1.5em;
            margin-top: 2em;
        }

        h2 {
            font-family: $fuentehelv;
            font-size: 3rem;
            text-align: center;
            padding: 0.5em;
            margin-top: 1.8em;
        }
    }
}



/*tuve que aplicar este querie para la version
mobile para evitar demasiado espacio entre el
titulo y el nav bar*/
@media (max-width: 991px) {
    section {
        padding-top: 7em;

        article {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            p {
                padding-right: 1em;
            }
        }

    }


}


/*contacto*/

.obligatorio {
    color: red;
}

#advertencia {

    font-size: 1.2rem;
    padding: 0.5em;
}