$fuentehelv : 'helvetica';

html {
    font-size: 62.5%;
}
@import 'iconos';
@import 'mixins';
@import 'layout';
@import 'barrainteraccion';
@import 'barravademecum';

/*El normalizer esta incluido en el css de boostrap*/



/* esto lo use para que el menu se despliegue completamente
vi que se puede obtener el mismo resultado modificando el js de bootsrap
pero no quise modificarlo sin entender que estoy haciendo */

@media (max-width: 991px) {
    #menu {
        height: 100vh;
    }
}

#activo {
    color: rgb(12, 213, 32);
    border-bottom: red;
    border-bottom-width: 0.3rem;
    border-bottom-style: solid;
}

/*body*/

section {
    padding-top: 14em;

    a {
        text-decoration: none;
        font-size: 1.8rem;
        line-height: 2rem;
        color: blue;

    }

    h1 {
        text-align: center;
        font-size: 3.6rem;
        color: red;
        font-family: "roboto";
    }

    article {
        display: grid;

        iframe {
            display: block;
            border: none;
            width: 90%;
            padding-left: 10%;
            padding-top: 4rem;
            height: 36rem;
        }

        p {
            font-size: 1.8rem;
            text-align: justify;
            font-family: $fuentehelv;
            padding: 0.5em;
            text-indent: 1.5em;
            line-height: 1.4em;
        }

        h3 {
            font-family: Verdana;
            font-size: 2rem;
            padding-left: 1.5em;
            margin-top: 2em;
        }

        h2 {
            font-family: $fuentehelv;
            font-size: 3rem;
            text-align: center;
            padding: 0.5em;
            margin-top: 2.5em;
        }
    }
}



/*tuve que aplicar este querie porque en 320 se me rompia el titulo*/
@media (max-width: 325px) {
    article {
        margin-top: 0.5em;
        margin-bottom: 0.5em;

    }
}


/*quienes somos*/

/*se ve un poco esteril, pero no tengo imaginacion*/

.quienessomos {
    font-size: 1.8rem;
    text-align: justify;
    padding: 0.5em;
    text-indent: 1.5rem;
    line-height: 4rem;
    list-style: square;
}

/*contacto*/

.obligatorio {
    color: red;
}

#advertencia {

    font-size: 1.2rem;
    padding: 0.5em;
}