$fuentehelv : 'helvetica';


/*en el main decidi poner solo estilos de sections p h1 etc para que 
me resulte mas comodo el manejo de estilos, fueron agregados todos los
imports necesarios para que se conecten una vez compilado scss*/


html {
    font-size: 62.5%;
}

@import 'imports/iconos';
@import 'imports/gridspaginas';
@import 'imports/imagenes';
@import 'imports/mixins';
@import 'imports/layout';
@import 'imports/barrainteraccion';
@import 'imports/barravademecum';
@import 'imports/keyframes';

/*El normalizer esta incluido en el css de boostrap*/



/*body*/

section {

    margin-top: 14rem;

    a {
        text-decoration: none;
        font-size: 1.8rem;
        line-height: 2rem;
        color: blue;
    }



    article {
        display: grid;

        h1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 3.6rem;
            color: red;
            font-family: "roboto";
        }

        .sinindentado {
            text-indent: 0;
        }

        iframe {
            display: block;
            border: none;
            width: 90%;
            padding-left: 10%;
            padding-top: 4rem;
            height: 36rem;
        }

        p {
            font-size: 1.8rem;
            text-align: justify;
            font-family: $fuentehelv;
            padding: 0.5em;
            padding-left: 1em;
            text-indent: 1.5em;
            line-height: 1.4em;


        }

        h3 {
            font-family: Verdana;
            font-size: 2rem;
            padding-left: 1.5em;
            margin-top: 2em;
        }

        h2 {
            font-family: $fuentehelv;
            font-size: 3rem;
            text-align: center;
            padding: 0.5em;
            margin-top: 1.8em;
        }
    }
}



/*con este querie ajuste la distancia de los titulos con el nav y en p el text align justify
que se veia mal en resolucion mobile, probe el deploy de git pages en el celu*/
@media (max-width: 991px) {
    section {
        margin-top: 7em;

        article {
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            h1 {
                text-align: center;
            }

            p {
                padding-left: 0.5em;
                text-align: start;
                padding-right: 0.5em;
            }
        }

    }


}


/*contacto*/

.obligatorio {
    color: red;
}

#advertencia {

    font-size: 1.2rem;
    padding: 0.5em;
}