/*barra de busqueda vademecum*/

.busquedavademecum {
    @include barras;
    grid-template-columns: 1fr;

    .barravademecum {
        grid-column-start: 1;
        grid-row-start: 2;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;

        input {
            @include inputbarras;
            width: 80%;
        }

        button {
            @include buttonbarras;

        }
    }

    #imprimir {
        grid-column-start: 1;
        grid-row-start: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 15%;

    }

    #compartir {
        grid-column-start: 1;
        grid-row-start: 1;
        display: flex;
        justify-content: center;

    }

    #descargar {
        grid-column-start: 1;
        grid-row-start: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 15%;
    }
}