/*En este apartado gestione la parte de formato de iconos para que no
me fuera tan engorroso buscar por todos lados cuando tuviera que modificar
o agregar un nuevo icono*/

.icon {
    max-width: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
}

.iconobar {
    max-width: 3rem;

}

.iconoalerta {
    width: 60%;
    height: 5rem;
}